# serial
serial 1 64 115200 57600 0 115200
serial 3 0 115200 57600 0 115200

# aux
aux 0 0 1 1700 2100 0 0
aux 1 0 1 900 1300 0 0
aux 2 1 0 900 1300 0 0
aux 3 13 3 1700 2100 0 0
aux 4 19 2 1700 2100 0 0
aux 5 35 1 900 1300 0 0
aux 6 36 3 1700 2100 0 0
aux 7 47 0 1300 1700 0 0

# adjrange
adjrange 0 0 4 900 2100 29 4 0 0

# master
set serialrx_provider = SBUS

set osd_tim_1_pos = 8771
set osd_flymode_pos = 9613
set osd_g_force_pos = 8611
set osd_throttle_pos = 8515
set osd_wh_drawn_pos = 8419
set osd_pid_roll_pos = 8623
set osd_pid_pitch_pos = 8591
set osd_pid_yaw_pos = 8655
set osd_power_pos = 8388
set osd_pidrate_profile_pos = 9517
set osd_avg_cell_voltage_pos = 8675
set osd_pit_ang_pos = 9293
set osd_rol_ang_pos = 9325
set osd_disarmed_pos = 8503
set osd_esc_rpm_pos = 8308
set osd_esc_rpm_freq_pos = 8316
set osd_rtc_date_time_pos = 8817
set osd_core_temp_pos = 8451
set osd_stick_overlay_left_pos = 8426
set osd_stick_overlay_right_pos = 9444
set osd_rate_profile_name_pos = 9581
set osd_pid_profile_name_pos = 9549
set osd_profile_name_pos = 9485
